body{
	margin:0;
	padding:0;
	position: relative; 
}

.row{
	margin: 0;
}

/*Section1*/

.s1{
	background-image: url(images/silver-chair.jpg);
	background-size: cover;
	height: 655px;

}

header {
  display: flex;
  justify-content: flex-end; /* 左右均等分布 */
}

.logo{
	padding:0; 
	position: absolute;
}

ul {
	display: flex;
   justify-content:flex-end;/* 上下中央揃え */
   margin-top: 70px;
  padding-right: 45px;
   position: absolute;
}

ul li a{
	color: #181a19!important;
}
ul li a:hover{
	color: #0fc9c3!important;
}


.first{
	margin-top: 175px;
}

.main-content{
	margin-top: 50px;
	width: 100%;
	margin-left: 30px;
}
.main-content h1,p {
	margin-bottom: 35px;
	text-align: left;
}

.main-content p{
	line-height: 32px;
	text-align: left;
}


.btn{
	background-color: #0fc9c3;
	padding:10px 25px; 
	font-size: 10px;
	color:white!important; 
	margin-left: 30px;
}

/*Section1 End*/

/*Section2 About section*/
.s2{
	height: 420px;
	background-color: #ffffff;
	text-align: center;
}

.main-content2{
	width: 50%;
	margin:105px auto;
}

.main-content2 h3{
	margin-bottom: 50px;
}

.main-content2 p{
	line-height: 30px;
}

/*Section2 About section End*/

/*Section3 Progress-bar section*/
.s3{
	width: 100%;
	height: 570px;
	background:#f2f5fa;
	background-image: url(images/mac.jpg);
	background-size: cover;
}

.main-content3{
	padding-bottom: 10px;
}

.main-content3 label{
    margin-bottom: 20px;
}
.pr{
	padding:95px; 
}

.pr h3{
	margin-top:20px;
	margin-bottom:40px; 
}

.progress-bar{
	background:#0fc9c3;
}

.progress{
	margin-bottom: 40px;
}

.pic{
	position: absolute;
	top:50%;
	left: 45%;
}

/*Section3 Progress-bar section End*/

/*section4 project nums*/
.s4{
	width: 100%;
	height: 235px;
	background-color: #0fc9c3;
}



.logo-box{
	display: flex;
	justify-content: center;
    align-items: center;
    color: white;
    padding:15%; 
}

.description{
	margin:20% auto;
	width: 100%; 
	font-size: 12px;
	padding-left: 15px;
}

.numbers{
	font-size: 20px;
}

/*section4 project num end*/

/*section5*/
.s5{
	height: 600px;
}
.gallery{
	display: flex;
	justify-content: space-between;
}
.gallery img{
	width:25%;
	height: 250px;
	border:1px solid white;
}

.r2{
	width: 100%!important;
	height: 100px;
	background-color: #f5f5f5;
}
.r2 p{
	margin:3% auto; 
	color:#8f8f8f;
}

/*section5 end*/

/*section6*/
.s6{
	height: 930px;
}

.s6-title{
	margin-top: 100px;
	text-align: center;
	width: 100%;
}
.s6-desc{
	color: #787878;
	text-align: center;
	width: 50%;
	margin: 35px auto;
}

.video{
	border:2px solid black;
	width: 1170px;
	height:570px;
	text-align: center;
}

/*section6 end*/
/*section7*/
.s7{
	width: 100%;
	height: 100%;
	max-height: 540px;
	background-color: #f5f5f5;
	padding: 40px 30px;

}

.service-box{
	width: 24%;
	text-align: center;
	margin-bottom: 5px;
}
.service-box i,p{
	color: #656565;
	margin: 20px;	
}

.service-box h4{
	font-size:18px;
}
.service-box p{
	font-size: 14px;
}
/*section7 end*/
/*section8*/
.s8{
	background: #0fc9c3;
	max-height: 540px;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 5%;
}

.testimonials{ 
	width: 55%;
	color: #fff;
	text-align: center;
}

.user-voice:before{
	content: "“"
}
.user-voice:after{
	content:"”";
}

.user{
	color: #fff;
	margin-top: 35px;
}
.dots{
	color: white;
	padding-top: 10%;
}



/*section8 end*/
/*section9*/
.s9{
	height: 200px;
	max-height: 400px;
}
.com1,.com2{
	width: 19%;
	margin-bottom: 20px;
}
/*section9 end*/
/*section10*/
.s10{
	background:#f5f5f5;
	height: 750px;
}

.contact-form{
	width: 60%;
	padding-top: 50px;
}
.contact-form h2,p{
	text-align: center;
	margin-top: 50px;
}

.contact-form p{
	color: #787878;
}

.name,.email,.contact-title{
	height: 50px;
}

.name,.email,.contact-title,.comments{
	margin-bottom: 35px;
}

.name,.email{
	display: inline-block;
	width: 46%;

}

.name{
	margin-right: 3%;
}

.email{
	margin-left: 5%;
}

.contact-title{
	width: 100%;
}
.comments{
	width: 100%;
}

.btn2{
	background-color: #0fc9c3;
    width: 33%;
    height: 60px;
    margin: 40px 33%;
    color: #fff;

}
/*section10 end*/


/*Make it responsive*/


@media screen and (max-width:380px)  { 
	/*s1*/
	.s1{
		background-color:#f8f8f8;
		background-image: none; 
	}
	ul{
		margin: 40px auto!important;
		padding: 25px;
	}
	.nav{
		width: 100%;
		font-size: 12px;
	}
	.first{
		margin-top: 150px;
	}
	.main-content h1{
		font-size: 30px;
		text-align: center;
	}
	.main-content p{
		text-align: center;
		font-size: 14px;
	}
	.btn{
		width: 50%;
		margin-left: 25%;
	}

	/*s2 about*/
	.main-content2{
	width: 100%;
	margin:50px auto;
	}

	/*s3*/
	.s3{
		width: 100%;
		height: 570px;
		max-height: 1000px;
		}
	.pr{
		padding: 50px;
		}

	/*s4*/
	.num{
		background-color:#0fc9c3;
		display: block;
		width: 33%;
    	margin-left: 33px;
	}

	/*s5*/
	.s5{
		height: 1100px;
		max-height:1200px; 
	}
	.gallery img {
    width: 50%;
    height: 250px;
    border: 1px solid white;
	}

	/*s6*/
	.s6-title {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 28px;
	}

	/*s7*/
	.s7{
		padding: 0;
		max-height: 1000px;
	}
	.service-box{
		width: 50%;
	}

	/*s8*/
	.user-voice{
		font-size: 20px;
		width: 100%;
	}
	.user{
		font-size: 11px;
	    width: 100%;
	    text-align: center;
	    margin: 0px;
	    margin-top: 30px;
	}
}

@media screen and (min-width:380px) and (max-width: 750px){
	.s4{
		background-color: #0fc9c3;
	    width: 100%;
	}
	.num{
		width: 24%;
		padding-top: 30px;
	}
	.s7{
		max-height: 900px;
	}
	.service-box{
		width: 50%;
	}
	.s9{
		height: 300px;
	}
	.com1,.com2{
		width:24%;
		margin-bottom: 20px;
	}
}




/*responsive*/
